<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>mnist demo</title>
</head>
<body>
    <h1>Hello! Try my app.</h1>
    <p>Use this space to draw a number, we will try to predict which number it is.</p>
    <p>Although it's not perfect, you can help me to train my model and will be more accurate :)</p>
    <p>Have Fun! and visit my webpage: <a href = "https://axiom-of-choice.herokuapp.com/">I'm the link</a></p>
    <canvas id="canvas"></canvas>
    <hr>
    <button onclick="resize()">Clean</button>
    <button onclick="enviarApi()">Convert into number</button>
    <h3 id="respuesta" style="visibility: hidden;"></h3>
    <input type=”radio”
    name”negative”
    value=”no”>
         No
    </input>
    <input type=”radio” 
       name”affirmative”
       value=”yes”
       checked>
            Yes
    </input>
    <form name="myForm" action="/action_page.php" onsubmit="return validateForm()" method="post">
        Name: <input type="text" name="fname">
        <input type="submit" value="Submit">
    </form>

</body>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="static/js/logic.js"></script>
</html>